#album_view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    display: none;
    margin-top: 60px;
}

#album_view_bgImage_container {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#album_view_bgImage {
    filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: -3;
}

#album_view_gradientBG {
    width: 100%;
    position: absolute;
    height: 8vh;
    background: linear-gradient(0deg, rgba(21,22,22,1) 10%, rgba(21,22,22,0) 100%);
    bottom: 0;
}

#album_view_cover_container {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 35vh;
    bottom: 0;
    display: flex;
    justify-content: center;
}

#album_view_cover {
    width: 35vh;
    height: 35vh;
    border-radius: 20px 20px 0 0;
}

#album_view_cover_gradient {
    position: absolute;
    width: 35vh;
    height: 35vh;
    z-index: 4;
    background: linear-gradient(0deg, rgba(21,22,22,1) 10%, rgba(21,22,22,0) 40%);
}

#album_view_header_container {
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 31vh;
    text-align: center;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

#album_view_header {
    margin: 0;
    color: var(--accentColor);
    max-width: 75%;
    white-space: nowrap;
}

.album_view_header_big {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 10px;
}

.album_view_header_small {
    font-size: 43px;
    font-weight: bold;
    letter-spacing: 4px;
}

#album_view_2ndHeader {
    margin: 0;
    margin-bottom: 10px;
    color: var(--contrast_bright);
    font-size: 20px;
    font-weight: 500;
}

#album_view_header_buttton_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.album_view_header_buttton {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    background: var(--accentColor);
    border: none;
    pointer-events: all;
    font-size: 16px;
}

.album_view_header_buttton:hover {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 0;
    padding: 9px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 17px;
    cursor: pointer;
}

#album_view_content {
    width: 100%;
    min-height: calc(60vh - 60px);
    padding-top: 15vh;
    padding-bottom: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #151616;
}

.album_view_track {
    display: flex;
    flex-direction: row;
    height: 6vh;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: calc(100% - 32px);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.album_view_track_spacer {
    height: 100%;
    width: 4px;
}

.album_view_track_image {
    height: 6vh;
    border-radius: 5px;
}

.album_view_track_text {
    margin-left: 20px;
    color: var(--contrast_bright);
    max-width: 30vw;
    overflow: hidden;
}

.album_view_track_text_duration {
    right: 25px;
    position: absolute;
}

.album_view_track_text_artists {
    left: 50vw;
    position: absolute;
    max-width: 35vw;
}

.album_view_track:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.album_view_track:hover p{
    color: var(--bg_dark);
    font-weight: 600;
}
