#playlist_view {
    display: none;
    padding-bottom: 150px;
}

#playlist_image_background_container {
    height: 40vh;
    width: 100%;
    padding-top: 60px;
}

#playlist_image_quad_background_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    height: 40vh;
    top: 60px;
}

.playlist_header_background_image_quad {
    height: 100%;
}

#playlist_image_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

#playlist_header_container {
    position: absolute;
    top: 60px;
    height: 40vh;
    width: 100%;
    display: flex;
}

#playlist_header_image {
    height: 80%;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 25px;
}

.playlist_header_image_quad {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#playlist_header_quadImage_container {
    height: 80%;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
}

.playlist_header_quadImage_image_container {
    width: 100%;
    height: 100%;
}

#playlist_header_text_container_center {
    height: 80%;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

#playlist_header_text_container {
    color: white;
    margin-left: 25px;
}

#playlist_header_text {
    font-size: 40px;
}

#playlist_header_author {
    color: grey;
    font-size: 18px;   
}

#playlist_header_info {
    color: grey;
    font-size: 18px;   
}

.playlist_track_item {
    display: flex;
    flex-direction: row;
    height: 6vh;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: calc(100% - 20px);
    border-radius: 5px;
    color: var(--contrast_bright);
    margin-left: 20px;
}

.playlist_track_item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.playlist_track_spacer {
    height: 100%;
    width: 4px;
}

.playlist_track_image {
    height: 6vh;
    border-radius: 5px;
}

.playlist_track_name {
    margin-left: 20px;
    color: var(--contrast_bright);
}

.playlist_track_artists {
    left: 50vw;
    position: absolute;
    max-width: 35vw;
}

.playlists_track_duration {
    right: 25px;
    position: absolute;
}

.playlist_button {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    background: var(--accentColor);
    border: none;
    pointer-events: all;
    font-size: 16px;
    cursor: pointer;
}

.playlist_button:hover {
    background: white;
}

#playlist_button_menu {
    background: var(--accentColor);
    width: 35px;
    height: 35px;
    border-radius: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#playlist_button_menu p {
    height: 35px;
    color: black;
    line-height: 27px;
}

#playlist_buttons {
    margin-top: 22px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 20px;
    width: 350px;
}



#playlist_background_gradient_container {
    width: 100%;
    position: absolute;
    height: 40vh;
    top: 60px;
    backdrop-filter: blur(10px);
}

#playlist_background_gradient { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: linear-gradient(0deg, rgba(21,22,22,1) 0%, rgba(21,22,22,0) 100%);
    animation-fill-mode: forwards;
}

#playlist_editMode_indicator {
    width: 100%;
    height: 3vh;
    bottom: 0px;
    position: absolute;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0) 100%);
    opacity: 0;
}

@keyframes editModeOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes editModeOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.playlist_track_drop_target {
    width: 100%;
    height: 0;
    background-color: aqua;
}

@keyframes dividerIn {
    0% {
        height: 0;
    }
    100% {
        height: 1vh;
    }
}

@keyframes dividerOut {
    0% {
        height: 1vh;
    }
    100% {
        height: 0;
    }
}

@keyframes dividerScaleUp {
    0% {
        height: 1vh;
    }
    100% {
        height: 3vh;
    }
}

@keyframes dividerScaleDown {
    0% {
        height: 3vh;
    }
    100% {
        height: 1vh;
    }
}