#menu_player_container {
  position: absolute;
  bottom: 0px;
  left: 60px;
  top: inherit;
  right: auto;
  display: flex;
  align-items: center;
  animation-fill-mode: forwards;
  pointer-events: all;
  display: flex;
  justify-content: center;
}

#menu_player {
  height: 90px;
  margin: 15px;
  backdrop-filter: blur(0);
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  background: rgba(32,32,32,0);
  border-radius: 28px;
  width: 0;
  opacity: 0;
}

#menu_player_content {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  position: absolute;
  width: calc(100% - 30px);
  pointer-events: none;
}

#menu_player_cover_container {
  height: 80px;
  width: 80px;
  margin: 5px;
  overflow: hidden;
  pointer-events: none;
  border-radius: 30%;
}

#menu_player_cover {
  height: 50%;
  width: 50%;
  opacity: 0;
  animation-fill-mode: forwards;
  object-fit: contain;
}

#menu_player_controls_container {
  height: 80px;
  width: calc(100% - 100px);
  pointer-events: none;
}

#menu_player_slider {
  width: 50%;
  opacity: 0;
  margin-right: 10px;
  animation-fill-mode: forwards;
}

.slider {
  pointer-events: all;
  animation-fill-mode: forwards;
  opacity: 0.8;

}

.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  height: 4px;
  background: white;
  border-radius: 25px;
} 

.slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 25px;
  background: white;
  margin-top: -7px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

.slider:focus {
  outline: none;
}

#menu_player_music_controls_container {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  pointer-events: none;
}

.menu_player_music_control {
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0;
  animation-fill-mode: forwards;
  pointer-events: all;
}

.menu_player_music_control:hover {
  opacity: 1;
  cursor: pointer;
}

.menu_player_music_control_secondary {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0;
  animation-fill-mode: forwards;
  pointer-events: all;
}

.menu_player_music_control_secondary:hover {
  opacity: 1;
  cursor: pointer;
}

#menu_player_audio {
  display: none;
}

@keyframes menuPlayerGrowthIn {
  0% {
    width: calc(100vw - 105px);
  }
  100% {
    width: calc(100vw - 225px);
  }
}

@keyframes menuPlayerGrowthOut {
  0% {
    width: calc(100vw - 225px);
  }
  100% {
    width: calc(100vw - 105px);
  }
}

@keyframes playerGrow {
  0% {
    width: 50vw;
  }
  100% {
    width: 70vw;
  }
}

@keyframes playerShrink {
  0% {
    width: 70vw;

  }
  100% {
    width: 50vw;
  }
}

@keyframes playerBackgroundIn {
  0% {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0);
  }
  100% {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
  }
}

@keyframes playerBackgroundOut {
  0% {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0);
  }
}

@keyframes playerChangePositionIn {
  0% {
    left: 60px;
  }
  100% {
    left: 180px;
  }
}

@keyframes playerChangePositionOut {
  0% {
    left: 180px;
  }
  100% {
    left: 60px;
  }
}

@keyframes movePlayer {
  100% {
    left: var(--endOffsetLeft);
    top: var(--endOffsetTop);
  }
}

.mouseDownCursor {
  cursor: grabbing;
}

.mouseUpCursor {
  cursor: grab;
}

#menu_player_text_container {
  display: flex;
  color: var(--contrast_bright);
  grid-column-gap: 10px;
  margin-left: 4px;
  opacity: 0;
  animation-fill-mode: forwards;
}

.menu_player_text {
  margin: 0;
  overflow: hidden;
  max-width: 40%;
  white-space: nowrap;
}

#menu_player_volume_slider {
  width: 0;
  opacity: 0;
  margin-left: 10px;
  margin-right: 10px;
  animation-fill-mode: forwards;
}

#menu_player_icon1 {
  width: 20px;
}


/* player in animation */



@keyframes playerImageIn {
  0% {
    opacity: 0;
    height: 50%;
    width: 50%;
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}

@keyframes playerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes playerSliderBigIn {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
} 

@keyframes playerSliderVolumeIn {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 25%;
    opacity: 1;
  }
}

@keyframes playerBgIn {
  0% {
    width: 0;
    opacity: 0;
    background: rgba(32,32,32,0);
    backdrop-filter: blur(0);
  }
  100% {
    width: 50vw;
    opacity: 1;
    background: rgba(32,32,32,0.8);
    backdrop-filter: blur(4px);
  }
}