#settings_view {
    display: none;
}

#settings_container {
    padding-top: 60px;
    margin-left: 20px;
    height: calc(100vh - 60px);
}

#settings_heading {
    color: white;
    position: fixed;
}

#settings_content_container {
    width: 100%;
    display: flex;
    margin-top: 67.828px;
}

#settings_menu {
    width: calc(20% - 1px);
    height: calc(100vh - 127.84px);
    position: fixed;
}

#settings_divider {
    width: 1px;
    height: calc(100vh - 127.84px);
    background-color: #2f2f2f;
    margin-left: calc(20% - 12px);
    position: fixed;
}

#settings_content {
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 20%;
}

.settings_menu_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    padding: 5px;
    transition: background-color 0.1s ease-in-out;
}

.settings_menu_item:hover {
    background: var(--accentColor);
    color: var(--accentColorDark);
    cursor: pointer;
}

.settings_menu_item:hover svg {
    fill: var(--accentColorDark);
}

.settings_menu_item svg {
    width: 30px;
    fill: white;
}

.settings_menu_item_text_container {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.settings_menu_item_icon_container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_content_page {
    width: 100%;
    min-height: 100%;
}

.settings_content_page h1 {
    color: white;
    padding-bottom: 15px;
}

.settings_setting_container {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
}

.settings_setting_text_container {
    width: 50%;
    display: flex;
    align-items: center;
}

.settings_setting_value_container {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.settings_setting_divider {
    width: 30%;
    height: 1px;
    background-color: #2f2f2f;
}

.toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .toggle-switch {
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: var(--accentColor);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
